@tailwind base;
@tailwind components;
@tailwind utilities;

.my-menu:hover {
  background-color: none !important;
  color: white !important;
}

.timeline-update-btn {
  background-color: #e09200 !important;
}

.timeline-delete-btn {
  background-color: maroon !important;
  color: white !important;
}

.ant-menu-item:hover {
  background-color: black !important;
  color: white !important;
}

::-webkit-scrollbar {
  display: none;
}

.signup {
  color: white !important;
}

.signup-div {
  background-color: #805df5 !important;
  color: white !important;
  border-radius: 3px !important;
  margin-top: 5px;
}

.dropdown,
.username {
  color: black !important;
}

.dropdown:hover {
  color: white !important;
}
